html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----------------------------------------------------------------- */
/*  SCAFFOLDED CSS  */
body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; text-decoration: none; border-bottom: 1px dotted; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  margin-top: 3px;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
  margin-left: 20px;
}

/* ----------------------------------------------------------------- */

body {
  background: #765F36;
}

tr, td {
  padding: 1px;
}

#header, #footer {
  /*width: 100%;*/
  height: 50px;
  clear: left;
  color: #d1c49f;
  padding: 5px 15px 0 15px;
}

#header a, #footer a {
  color: #d1c49f;
}

#header h1 {
  font-size: 30px;
  text-align: center;
}

#new_ticket_notification {
  height: 40px;
  text-align: center;
  position: fixed;
  left: 142px;
  top: 6px;
  background-color: #d1c49f;
  color: #333;
  cursor: pointer;
  font-weight: bold;
  border: 3px red solid;
}

.flash_notice {
  color: green;
  text-align: center;
}

.flash_warning {
  color: red;
  text-align: center;
}

/* ----------------------------------------------------------------- */
#menu {
  float: left;
  width: 190px;
  background: white;
  padding: 15px 0 15px 5px;
  margin-left: 15px;
  margin-top: 5px;
  text-align: center;
}

#menu ul {
  margin-left: 20px;
  margin-bottom: 5px;
  text-align: left;
}

#menu ul li {
  list-style: circle inside;
}

#menu ul li a {
  text-decoration: none;
  border-bottom: 1px dotted black;
}

#menu ul li.active {
  background: #d1c49f;
  color: #333;
  padding-left: 4px;
}

#menu #types {
  font-size: 12px;
  width: 152px;
}

#menu div.ticket_info {
  margin-top: 10px;
  margin-right: 5px;
  text-align: left;
  overflow: hidden;
}

#menu div.ticket_info p.label {
  font-weight: bold;
}

/* ----------------------------------------------------------------- */
/* MAIN */
#main {
  padding: 3px 10px 5px 10px;
  margin-left: 210px;
  margin-right: 15px;
  border: 5px solid #d1c49f;
  background: white;
  min-height: 100px;
}

#main div#page_entries_info {
  text-align: right;
  margin-right: 3px; 
}

#main form {
}
#main form label {
  display: block;
  font-weight: bold;
}

#main table {
  width: 100%;
  /*margin: 0 -10px 0 -10px;*/
}

#main table tr {
  border-top: 1px #DDD solid;
  border-bottom: 1px #DDD solid;
}

#main table tr.highlightable:hover {
  background: #d1c49f;
  cursor: pointer;
}

#main table tr td {
  padding-left: 5px;
  white-space: nowrap;
  overflow: hidden;
}

#main table tr td.basic_state {
  width: 15px;
}

#main table tr td.category {
  width: 80px;
}
#main table tr td.message_from {
  width: 90px;
  max-width: 90px;
}

#main table tr td.message_content {
  min-width: 150px;
  max-width: 300px;
  color: #888;
}

#main table tr td.employee_name {
  width: 60px;
}

#main table tr td.email {
  max-width: 80px;
  min-width: 50px;
  color: #444;
}

#main table tr td.order_number {
  width: 20px;
}

#main table tr td.last_message {
  min-width: 100px;
  max-width: 150px;
  color: #666;
}

#main table tr td.last_message.client {
  font-weight: bold;
}

#main table tr td.timestamp {
  margin-left: 3px;
  width: 20px;
  font-style: italic;
}

#main table tr td.actions {
  width: 20px;
  padding-right: 5px;
}

#main table tr.message td {
  white-space: normal;
  padding: 0 30px;
}

/* ----------------------------------------------------------------- */
/* PAGINATION */
#main div.pagination {
  padding: 3px;
  margin-top: 4px;
  text-align: center;
}
/* previous: #102871 */
#main div.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #765F36;
  text-decoration: none; 
  color: #765F36;
}

#main div.pagination a:hover, div.pagination a:active {
  border: 1px solid #765F36;
  background-color: #765F36;
  color: #FFF;
}

#main div.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #765F36;
  font-weight: bold;
  background-color: #765F36;
  color: #FFF;
}

#main div.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #AAA;
  color: #AAA;
}

