<p class="label">Stan reklamacji:</p>
<p class="editable_transition" id="state_event"><%=h @ticket.state %></p>

<p class="label">Temat:</p>
<p class="editable_area" id="subject"><%=h @ticket.subject %></p>

<p class="label">Wyjaśnienie:</p>
<p class="editable_area" id="explanation"><%=h @ticket.explanation %></p>
