<p>
<%= f.label :state_event %>
<%= f.select :state_event, sm_select( @ticket.state_transitions ,@ticket.state_name.to_s) %>
</p>
<p>
<%= f.label :reason %>
<%= f.text_area :reason, :size => "40x15" %>
</p>
