<p class="label">Status zapytania:</p>
<p class="editable_transition" id="state_event"><%=h sm_t @ticket.state %></p>

<p class="label">Przyczyna:</p>
<p class="editable_area" id="reason"><%=h @ticket.reason %></p>
