<p>
  <b>Name:</b>
  <%=h @ticket_category.name %>
  <b>Type:</b>
  <%=h @ticket_category.ticket_type.capitalize %>
</p>


<%= link_to 'Edit', edit_admin_ticket_category_path(@ticket_category) %> |
<%= link_to 'Back', admin_ticket_categories_path %>
